<nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="#"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Whist Score Calculator!</font></font></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor03" aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarColor03">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('whist_index') }}">Accueil</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('whist_launch') }}">Lancer une partie</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('partie_encours') }}">Liste de vos parties</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('config_create') }}">Configuration contrats</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('config_show') }}">Liste des configurations</a>
                    </li>
                </ul>
                
                    
               
                    {% if app.user %}
                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        {{ app.user.prenom ~ " " ~ app.user.nom }}
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="{{ path('account_profile') }}">Mon profil</a>
                        <a class="dropdown-item" href="{{ path('account_password') }}">Changer mot de passe</a>
                        <hr>
                        <a class="dropdown-item" href="{{ path('account_logout') }}">Déconnexion</a>
                    </div>
                </div>
                     {% else %}   
                     <ul class="navbar-nav ml-auto"> 
                        <li class="nav-item">                    
                            <a class="dropdown-item" href="{{ path('account_register') }}">Inscription</a>
                        </li>
                        <li class="nav-item">
                            <a class="dropdown-item" href="{{ path('account_login') }}">Connexion</a>
                        </li>
                    </ul>
                    {% endif %}
            </div>
        </nav>
        {% for label, messages in app.flashes %}
            <div class="container">
                <div class="alert alert-{{ label }}">
                    {% for message in messages %}
                        <p>{{ message }}</p>
                    {% endfor %}
                </div>
            </div>
        {% endfor %}