{% extends 'base.html.twig' %}

{% block title %}Partie en cours{% endblock %}

{% block body %}
<div class="container">
{#     {% if app.request.query.get('start') %}
        <div class="alert alert-success">
            <h4 class="alert-heading">La partie est lancée ...</h4>
            <p><strong>Que le meilleur gagne ! Bon jeu à tous ! </strong></p>
        </div>
    {% endif %} #}
    <div class="row">
        <div class="col-md-12">
            <h4>Partie lancée par : {{ partie.utilisateur.prenom ~ " " ~ partie.utilisateur.nom }}</h4>
            <table class="table table-hover table-bordered text-center">
                <thead>
                <tr class="bg-primary">
                    {% for joueur in partie.joueurs %}
                        <th width="200px">{{ joueur.nom }}</th>
                    {% endfor %}
                    <th width="50px">{{ i }} cartés restant</th>
                </tr>
                </thead>
                <tbody>
                {% for carte in cartes %}
                    <tr class="bg-info">
                        <td>{{ carte.j1Score }}</td>
                        <td>{{ carte.j2Score }}</td>
                        <td>{{ carte.j3Score }}</td>
                        <td>{{ carte.j4Score }}</td>
                        <td>{{ carte.numero }}</td>
                    </tr>
                {% endfor %}
                <tr class="bg-success">
                    {% for joueur in partie.joueurs %}
                        <td>{{ joueur.scoreTotal }}</td>
                    {% endfor %}
                    <td>{{ i }}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="mt-3 col-5">
        {% if i != 0 %}
            {{ form_start(form) }}
            <div class="row cadre-form arrondi ml-1">
                <div class="col-12">
                    <div class="row">
                        <div class="col">
                            {{ form_errors(form.contrat) }}
                            {{ form_widget(form.contrat) }}
                        </div>
                    </div>
                    <div class="row text-center mt-1">
                        <div class="col">
                            {{ form_widget(form.estGagnant) }}
                            {{ form_widget(form.brin) }}
                            {{ form_widget(form.accompagne) }}
                        </div>
                        <div class="col">
                            {{ form_widget(form.partants) }}
                        </div>
                    </div>
                </div>
            </div>
            <button type="submit" class="btn btn-primary ml-3 mb-2">Confirmez ce carté</button>
            {{ form_end(form) }}
        {% else %}
            <div class="row justify-content-center">
                <div class="col-8 text-center bg-dark text-white">
                    <h2>Fin de la partie</h2>
                </div>
            </div>
        {% endif %}
        </div>
        <div class="col-7">
            {% for carte in cartes %}
                {{ loop.index }} )
                {% for joueur in carte.partants %}
                    {% if carte.partants | length > 1  %}
                    {{ joueur.nom }} {% if loop.index == 1 %} et {% else %} ont {% endif %}
                    {% else %}
                    {{ joueur.nom }} a 
                    {% endif %}
                {% endfor %}
                {% if carte.estGagnant == true %}
                    gagné avec
                {% else %}
                    perdu sur
                {% endif %}
                    un(e) {{ carte.contratPartants }}
                    {% if carte.brin == true %}
                        sur un brin
                    {% endif %}
                    ({{ carte.pointsPartants }} points)<br>
            {% endfor %}
        </div>
        <div class="col-12 text-center py-3">
            {% if i == 0 %}
                <a href="{{ path('partie_encours') }}" class="btn-outline-dark btn">Liste des parties</a>
                <a href="{{ path('whist_launch') }}" class="btn-outline-dark btn">Nouvelle partie</a>
            {% endif %}
        </div>
    </div>
    <div class="row">
        <div class="col-12 text-center bg-warning rounded p-3">
            <blockquote>
                Pour rafraîchir la page, le seul moyen actuel étant de faire une erreur dans le formulaire. <br>
                Ex: Cocher 3 joueurs puis Confirmez ce carté. <br>
                Si vous faites un rafraîchissement de la page, il va renvoyer les mêmes informations que précédemment !
            </blockquote>
        </div>
    </div>
</div>
{% endblock %}


